.serviceDescription {
    background: var(--green);
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: var(--element-padding);
}

.icon {
    align-self: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 200px;
    margin-bottom: 30px;
    background: var(--white);
}

.icon img {
    object-fit: contain;
}
