.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 1.5rem;
    width: 100%;
    padding: 4rem 3.5rem;
}

@media (max-width: 768px) {
    .innerContainer {
        padding: 4rem 1rem;
    }
}

/* Background variants */
.primary {
    background: var(--primary-medium);
}

.wheat {
    background: var(--wheat);
}

.transparent {
    background: transparent;
}
