.cls1 {
    fill: #9fedd7;
}

.cls2,
.cls3,
.cls4,
.cls5,
.cls6,
.cls7,
.cls8,
.cls9,
.cls10,
.cls11,
.cls12,
.cls13,
.cls14,
.cls15,
.cls16,
.cls17,
.cls18,
.cls19 {
    fill: none;
}

.cls2,
.cls5,
.cls6,
.cls7,
.cls8,
.cls10,
.cls11,
.cls12,
.cls14,
.cls15,
.cls19 {
    stroke-width: 6px;
}

.cls2,
.cls5,
.cls6,
.cls7,
.cls8,
.cls10,
.cls11,
.cls12,
.cls15,
.cls17,
.cls19 {
    stroke-linejoin: round;
}

.cls2,
.cls5,
.cls6,
.cls7,
.cls8,
.cls11,
.cls12,
.cls17,
.cls19 {
    stroke-linecap: round;
}

.cls2,
.cls13 {
    stroke: #fce181;
}

.cls3 {
    stroke: #b3e5ff;
}

.cls3,
.cls4,
.cls9,
.cls13,
.cls14,
.cls16,
.cls18 {
    stroke-miterlimit: 10;
}

.cls3,
.cls4,
.cls9,
.cls13,
.cls16,
.cls17,
.cls18 {
    stroke-width: 8px;
}

.cls20 {
    fill: #fff;
}

.cls4 {
    stroke: #edeae5;
}

.cls21,
.cls6,
.cls9,
.cls19 {
    opacity: 0.9;
}

.cls22 {
    opacity: 0.35;
}

.cls22,
.cls23 {
    fill: #fce181;
}

.cls5,
.cls6 {
    stroke: #fff;
}

.cls24,
.cls25 {
    fill: #b3e5ff;
}

.cls7,
.cls17,
.cls18 {
    stroke: #ffc425;
}

.cls26 {
    fill: #edeae5;
}

.cls27 {
    opacity: 0.19;
}

.cls8,
.cls9,
.cls14,
.cls19 {
    stroke: #012b2d;
}

.cls28,
.cls29,
.cls30,
.cls31 {
    fill: #01b1b0;
}

.cls28,
.cls32,
.cls33 {
    opacity: 0.2;
}

.cls10,
.cls12 {
    stroke: #02a5d9;
}

.cls11,
.cls15 {
    stroke: #01b1b0;
}

.cls25 {
    opacity: 0.5;
}

.cls29 {
    opacity: 0.23;
}

.cls34 {
    fill: #ffc425;
}

.cls32 {
    fill: #012b2d;
}

.cls33 {
    fill: #02a5d9;
}

.cls31 {
    opacity: 0.12;
}

.cls16 {
    stroke: #9fedd7;
}

@media (max-width: 640px) {
    .logo {
        transform: scale(1.7) translate(-21%, -12%);
    }
}

@media (min-width: 640px) {
    .landing {
        margin-top: calc(var(--nav-height) * -1);
    }
}

.bounce {
    animation: bounce-up 30s infinite;
}

.bounce.down {
    animation: bounce-down 30s infinite;
}

.draw {
    animation: draw 5s forwards;
    stroke-dasharray: 1000;
    animation-delay: 1s;
}

.draw * {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s forwards;
    animation-delay: 1s;
}

.handShade {
    animation: fade 4s forwards;
    opacity: 0;
    animation-delay: 1s;
}

.signFirst {
    transform: translateY(-100px);
    opacity: 0;
    animation: slide-down 1s forwards;
}

.signSecond {
    transform: translateY(100px);
    opacity: 0;
    animation: slide-up 1s forwards;
}

.fadeIn {
    animation: fade 3s forwards;
    opacity: 0;
}

.firstHand {
    /* Additional styles for first-hand group if needed */
}

@keyframes slide-down {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        /* use data-opacity to set opacity */
        opacity: var(--data-opacity);
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes bounce-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0);
    }
}
