.cls1 {
    fill: #fce181;
    opacity: 0.35;
}

.cls2 {
    opacity: 0.19;
}

.cls3 {
    fill: none;
    stroke: #ffc425;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 8px;
}
